/* global styling */
body {
    background-color: blanchedalmond;
    padding: 0;
    margin: 0;
}

/* conatiner stylesheet */
.container {
    width: 80%;
}

/* navigation css */
nav {
    background-color: indianred;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
}

nav a{
    list-style-type: none;
    display: inline-block;
    align: right;
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: white;
}

.active {
    color: black;
} 

/* intro css */
.intro {
    margin-top: 150px;
    position: relative;
}

/* h5 css */
h5 {
    font-family: cursive;
    margin-top: 50px;
}



